@import 'tailwindcss';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@theme {
  --font-poppins: Poppins, sans-serif;
  --font-satisfy: Satisfy, sans-serif;
  --font-pinyon: Pinyon Script, sans-serif;
  --color-heroname: #0c0808;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #959499;
}

::-webkit-scrollbar-thumb {
  background: #df1008;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
