@import 'tailwindcss';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@theme {
  --font-poppins: Poppins, sans-serif;
  --font-satisfy: Satisfy, sans-serif;
  --font-pinyon: Pinyon Script, sans-serif;
  --color-heroname: #0c0808;
}
